* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: white;
}

/*设置背景颜色*/
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.w {

	text-align: center;
}

/*固定元素的宽度和居中*/
.header {
	background-color: white;
	padding-top: 10px;
	position: fixed;
	z-index: 2;
	width: 100%;
}

.dh {
	display: inline-block;
}

.logo {

	display: inline-block;
}

.b1 {
	width: 100%;
}

.front {
	z-index: 1;
	position: absolute;
	text-align: center;
	top: 75%;
	left: 12.5%;
	color: white;
	font-size: 50px;
}


.nav {
	margin-right: 15%;
	list-style: none;
	float: right;
	background-color: rgb(242, 242, 242);
}

.nav li {
	float: left;
}

.nav a {
	display: block;
	color: #666;
	text-decoration: none;
	text-align: center;
	padding: 15px 80px;
}

.box2 {
	width: 100%;
	height: 800px;
	margin: 0 auto;
	background-image: url(../img/考核材料/前端第一次考核材料/图片/heardone.jfif);
	background-repeat: no-repeat;
	background-position: center;
}

.box3a div {
	display: inline-block;
	padding: 10px;
	
}

.box3b div {
	display: inline-block;
	padding: 10px;
	
}


.box4 {
	width: 100%;
	height: 600px;
	background-image: url(../img/考核材料/前端第一次考核材料/图片/middle.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.box4 .v1,
.v2 {
	width: 300px;
	height: 300px;
	border-radius: 15px;
	background-color: rgb(246, 246, 245);
	display: inline-block;
}


.box4 .v1 {
	margin: 200px;
	margin-left: 150px;
}

.box4 .v2 {
	margin-right: 150px;


}

.box4 .va1,
.va2 {
	margin: 20px 0 100px;
	text-align: center;
}

.box4 p {
	text-align: center;
	color: #666;

}

.h1 {
	width: 400px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	font-size: 70px;
	color: rgb(8, 55, 155);
}

h3 {
	font-size: 35px;
	text-align: center;
	font-weight: 400;
	margin: 0;
}

.box2 span {
	font-size: 15px;
	font-weight: bold;
}

.box2 p {
	font-size: 15px;
	font-weight: 100;
	display: inline;
	line-height: 1.5;
}

.t1,
.t2 {
	width: 350px;
	height: 500px;
	border-radius: 15px;
	background-color: rgb(246, 246, 245);
	display: inline-block;
}

.box2 .t1 {
	margin: 100px 100px 100px 200px;
}

.box2 .t2 {
	margin: 100px 200px 100px 100px;


}

.box2 .ti1,
.ti2 {
	text-align: center;
	margin: 0 100px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
}

.view {

	width: 200px;
	margin: 30px auto;
	padding: 20px;

	border-radius: 30px;
	background-color: rgb(8, 55, 145);

}
.view:hover{
	background-color: white;
}
.view:hover a{
	color:rgb(8, 55, 145);
}
.view a {
	color: white;
	font-size: 20px;
}

.end {
	width: 100%;
	height: 450px;
	background-color: rgb(35, 35, 35);

}

.e1 {
	margin-left: 310px;
	margin-bottom: 100px;
	list-style-type: none;
}

.end h2 {
	font-size: 25px;
	color: white;
}

.end1 a {
	color: white;
	font-style: 宋体;
	text-decoration: none;
	display: block;

	padding: 35px 0;
}

.img2 {
	margin-left: 200px;
	display: inline-block;
	margin-bottom: 100px;
	position: relative;
}

.img2::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
}

.text1 {
	width: 30%;
	color: #666;
	display: inline-block;
	float: right;
	margin-right: 250px;
}

.box5 {
	text-align: center;
	position: relative;
}

.box5 .p1,
.p2 {
	z-index: 1;
	font-size: 30px;

	text-align: center;
	position: absolute;
	color: white;
	bottom: 300px;
}

.box5 .p3,
.p4 {
	z-index: 1;
	font-size: 30px;
	bottom: 50px;
	text-align: center;
	position: absolute;
	color: white;
}

.box5 .bt1,
.bt3 {
	float: right;
	text-align: center;
	margin-right: 15%;
}

.box5 .bt2,
.bt4 {
	float: left;
	text-align: center;
	margin-left: 10%;
}

	form .text {
				display: inline-block;
				border: 0;
				width: 260px;
				height: 50px;
				font-size: 14px;
				outline: none;
				
				border: 2px solid white;
			}
			
			form .search {
				
				width: 100px;
				height: 50px;
				border: 0;
					outline: none;
					cursor: pointer;
					text-align: center;
					line-height: 40px;
					background-color:rgb(97,149,255);
					color: #FFFFFF;
				}
		.ss1{
			float: right;
			margin: 0 200px;
		}		
		html{
			scroll-behavior: smooth;
		}